body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #968ff6;
}

.home-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.action-button {
    display: row;
}

.action-button button {
    margin-left: 40px;
}

main {
    display: flex;
}

.notes-list, .folder-list {
    flex: 1;
    padding: 20px;
}

.create-note-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #97b2cf;
    color: #fff;
    border: none;
    cursor: pointer;
}