body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

.mode-button, .view-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.mode-button:hover, .view-button:hover {
    background-color: black;
}
